@use "./variables" as *;
@use "./responsive" as *;
@use "./mixins" as *;
@use "./functions" as *;

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: "Lato", sans-serif;
  font-size: toRem(14);
  font-weight: $regular;
  color: $text;
  line-height: 1.4;
  scroll-behavior: smooth;

  @include for-tablet-landscape-up {
    font-size: toRem(16);
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}

main {
  width: 100%;
  max-width: calc(1440px / 12) * 8;
  display: block;
  padding: gap(2);
  margin: 0 auto;

  @include for-tablet-landscape-up {
    padding: gap(2) gap(9);
  }
}

.calendar--container {
  width: 100%;
  display: block;
  margin: gap(8) auto;
  transition: all 0.3s ease-in-out;

  @include for-tablet-portrait-up {
    width: 50%;
  }

  input,
  label {
    width: 100%;
    display: block;
  }

  input {
    padding: gap(2) gap(2);
    border: 01px solid $gray-400;
    border-radius: $border-radius;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: transparent;
      opacity: 0; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: transparent;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: transparent;
    }

    &:focus {
      border-color: $gray-900;
      outline-color: $gray-800;

      &::placeholder {
        color: $gray-400;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $gray-400;
      }

      &::-ms-input-placeholder {
        color: $gray-400;
      }

      // selecting sibiling element
      & + label {
        padding-left: 0;
        color: $gray-900;
        transform: translateY(-85px);
      }
    }
  }

  label {
    padding-left: gap(2);
    color: $gray-700;
    opacity: 1;
    transform: translateY(-40px);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
