// MAIN COLORS
$primary-color-800: #271538;
$primary-color-600: #4f2d70;
$primary-color-400: #844bbb;
$primary-color-200: #e6dbf1;
$primary-color-100: #f3edf8;

// BASE COLORS
$white: #fafafa;
$black: #0d0713; // based on primary color shades

$title: #040109;
$text: #242424;
$background: #fafafa;

// https://mdigi.tools/color-shades/#ffffff
$gray-900: #242424;
$gray-800: #383838;
$gray-700: #808080;
$gray-600: #6b6b6b;
$gray-400: #a8a8a8;
$gray-200: #d8d8d8;
$gray-100: #f0f0f0;

$error: #e74c3c;
$disabled: #e3e3ed;

// EFFECTS
$border-radius: 8px;
$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

// TEXT - FONT WEIGHT
$light: 300;
$regular: 400;
$bold: 900;

// ICONS
$icon-x-small: 20px;
$icon-small: 24px;
$icon-medium: 40px;
$icon-large: 48px;
