@use "./mixins" as *;
@use "./variables" as *;
@use "./responsive" as *;

h1 {
  font-size: toRem(39.06);

  @include for-tablet-landscape-up {
    font-size: toRem(48.83);
  }
}

h2 {
  font-size: toRem(31.25);

  @include for-tablet-landscape-up {
    font-size: toRem(39.06);
  }
}

h3 {
  font-size: toRem(25);
  @include for-tablet-landscape-up {
    font-size: toRem(31.25);
  }
}

h4 {
  font-size: toRem(20);
  @include for-tablet-landscape-up {
    font-size: toRem(25);
  }
}

h5 {
  font-size: toRem(16);
  @include for-tablet-landscape-up {
    font-size: toRem(20);
  }
}
