@use "./variables" as *;
@use "./responsive" as *;
@use "./mixins" as *;

html,
body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: toRem(14);
  color: $text;
  scroll-behavior: smooth;

  @include for-tablet-landscape-up {
    font-size: toRem(16);
  }
}
