@use "./variables" as *;
@use "./responsive" as *;
@use "./mixins" as *;
@use "./functions" as *;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: toRem(14);
  color: $text;
  scroll-behavior: smooth;

  @include for-tablet-landscape-up {
    font-size: toRem(16);
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}

.app-container {
  width: 100%;
  height: 100%;
  padding: gap(2);
}

main {
  width: 100%;
  padding: gap(2) 0;

  section {
    width: 100%;
    padding: 0;
    margin: 0 auto;

    @include for-tablet-landscape-up {
      max-width: 960px;
      padding: 0 gap(8);
    }
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
