// MAIN COLORS
$primary-color: #5412c4;
$primary-color-lg: #f9f6fe;

$secondary-color: #73b172;
$secondary-color-lg: #daf2d9;

// BASE COLORS
$white: #fafafa;
$black: #040109; // based on primary color shades

$title: #040109;
$text: #242424;
$background: #fafafa;

// https://mdigi.tools/color-shades/#ffffff
$gray: #808080;
$gray-dark: #383838;
$gray-lg: #f0f0f0;

$error: #e36363;
$disabled: #e3e3ed;

// EFFECTS
$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
$box-shadow-primary: 0px 10px 15px -3px rgba(84, 18, 196, 0.1);

// TEXT - FONT WEIGHT
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
