@use "../variables" as *;
@use "../mixins" as *;
@use "../responsive" as *;
@use "../functions" as *;

.card {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: gap(1);
  padding: gap(2);
  margin-top: gap(3);
  border: 01px solid $gray-lg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &__aside {
    width: 44px;
    height: 44px;
    aspect-ratio: 1 / 1;
    position: relative;

    @include for-tablet-landscape-up {
      width: 50px;
      height: 50px;
    }

    svg {
      width: $icon-medium;
      height: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0;
      transform: translate(-50%, -50%);

      @include for-tablet-landscape-up {
        width: $icon-large;
      }
    }

    .card__button--remove {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 03px solid transparent;
      border-radius: 50px;
      outline: none;
      transition: all 0.3s ease;

      &:focus,
      &:hover {
        cursor: pointer;
        border-color: $gray-dark;
      }

      svg {
        width: 32px;
      }
    }
  }

  &__body {
    flex: 1;
    overflow: hidden;

    &--title {
      @include ellipsis;

      font-weight: $bold;
    }

    &--desc {
      @include ellipsis;
      color: $gray;
    }
  }
}
