@use "../mixins" as *;
@use "../functions" as *;
@use "../variables" as *;

.title {
  @include text-center;

  margin-top: gap(3);
  margin-bottom: gap(2);
  color: $gray-dark;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
