@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;
@use "../responsive" as *;

.uploader {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;

    padding: gap(4);
    background-color: $primary-color-lg;
    border: 01px solid $gray-lg;
    border-radius: $border-radius;
    box-shadow: $box-shadow-primary;

    h2 {
      color: $primary-color;
    }

    h2,
    p {
      text-align: center;
    }

    input[type="file"] {
      all: unset;
      position: absolute;
      inset: 0;
      opacity: 0;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}
