@use "../mixins" as *;
@use "../functions" as *;
@use "../variables" as *;
@use "../responsive" as *;

.calendar--container {
  width: 100%;
  display: block;
  margin: gap(6) auto 0;
  transition: all 0.3s ease-in-out;

  @include for-tablet-portrait-up {
    width: 50%;
  }

  input,
  label {
    width: 100%;
    display: block;
  }

  input {
    padding: gap(2) gap(2);
    border: 01px solid $gray-400;
    border-radius: $border-radius;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: transparent;
      opacity: 0; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: transparent;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: transparent;
    }

    &:focus,
    &.focus {
      border-color: $gray-900;
      outline-color: $gray-800;

      &::placeholder {
        color: $gray-400;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $gray-400;
      }

      &::-ms-input-placeholder {
        color: $gray-400;
      }

      // selecting sibiling element
      & + label {
        padding-left: 0;
        color: $gray-900;
        transform: translateY(-85px);
      }
    }
  }

  label {
    padding-left: gap(2);
    color: $gray-700;
    opacity: 1;
    transform: translateY(-40px);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;
  }
}
