@use "../mixins" as *;
@use "../functions" as *;
@use "../variables" as *;
@use "../responsive" as *;

.description {
  @include text-center;
  margin-top: gap(2);
  margin-bottom: gap(2);
  font-family: "Poppins", sans-serif;
  font-size: toRem(16);
  font-weight: 400;
  color: $gray-600;

  @include for-tablet-landscape-up {
    font-size: toRem(20);
  }
}
