@use "../mixins" as *;
@use "../functions" as *;
@use "../variables" as *;
@use "../responsive" as *;

.description {
  @include text-center;
  margin: gap(2) 0;
  font-size: toRem(16);
  font-weight: $regular;
  color: $gray-600;

  @include for-tablet-landscape-up {
    font-size: toRem(20);
  }
}
