@use "../mixins" as *;
@use "../functions" as *;
@use "../variables" as *;

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: gap(1);
  margin: gap(3) 0 0;
  color: $primary-color-800;
  font-weight: $bold;
}
